{% extends 'base.html.twig' %}

{% block title %}AmEstate | Register{% endblock %}

{% block body %}
    <!--/ Intro Single star /-->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">Register</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{path('homepage')}}">Home</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Register
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--/ Intro Single End /-->

    <!--/ property Register /-->
    <section class="property-login nav-arrow-b">
        <div class="container">
            <div class="row">
                {{form_start(form,{'attr':{'class':'form-a','style':'width:100%'}})}}
                    <div class="col-md-6 offset-md-3">
                        <div class="form-group">
                            {{form_row(form.fullName)}}
                        </div>
                        <div class="form-group">
                            {{form_row(form.email)}}
                        </div>
                        <div class="form-group">
                            {{form_row(form.phone)}}
                        </div>
                        <div class="form-group">
                            {{form_row(form.password)}}
                        </div>
                        <div class="form-group">
                            <label for="">Avatar</label>
                            {{form_row(form.imageFile)}}
                        </div>
                        <div class="form-group">
                           <button type="submit" class="btn btn-a">Register</button>
                        </div>
                    </div>
                {{form_end(form)}}
            </div>
        </div>
    </section>
{% endblock %}
