{% extends 'base.html.twig' %}

{% block title %}AmEstate | Add Property{% endblock %}

{% form_theme form '/property/_collections.html.twig' %}

{% block body %}

<!--/ Intro Single star /-->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">Add Property</h1>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{path('homepage')}}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{{path('account')}}">My Agent</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Add Property
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!--/ Intro Single End /-->

<!--/ Intro Single star /-->
<section class="add-property">
    <div class="container">
        <div class="row">
            <div class="col-md-12" >
                {{form_start(form, {'attr': {'class':'form-a'}})}}
                <div class="row" >
                    <div class="col-md-12">
                        {{form_row(form.title)}}
                    </div>
                    <div class="col-md-12">
                        {{form_row(form.description)}}
                    </div>
                    <div class="col-md-12">
                        <label for="property_imageFile_file">Cover Image</label>
                        {{form_row(form.imageFile)}}
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-6">
                        {{form_row(form.types)}}
                    </div>
                    <div class="col-md-6">
                        {{form_row(form.status)}}
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-3">
                        {{form_row(form.area)}}
                    </div>
                    <div class="col-md-3">
                        {{form_row(form.bedrooms)}}
                    </div>
                    <div class="col-md-3">
                        {{form_row(form.bathrooms)}}
                    </div>
                    <div class="col-md-3">
                        {{form_row(form.garage)}}
                    </div>                
                </div>
                <div class="row" >
                    <div class="col-md-4">
                        {{form_row(form.adresse)}}
                    </div>
                    <div class="col-md-4">
                        {{form_row(form.city)}}
                    </div>
                    <div class="col-md-4">
                        {{form_row(form.price)}}
                    </div>                
                </div>
                <div class="row" >
                    <div class="col-md-12">
                        {{form_row(form.images)}}
                    </div>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-success" >Add Property</button>
                </div>
                {{form_end(form)}}
            </div>
        </div>
        </div>
    </div>
</section>

{% endblock %}